body{
    font-family: 'Ephesis', cursive;
}
.mx-5{
    margin-bottom: 25px;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn a:hover{
    color: wheat;
}

.container-fluid{
    padding:3% 15%;
    border-bottom:2px solid black;
}
.footer{
    background-color: #334756;
    line-height: 3rem;
    color: white;
}
form{
    padding-left: 100px;
}
h5{
    margin-left: 20px;
}
.logo{
    width: 15%;
    padding: 5px 10px;
    margin-left: 40px;
}
#contact-us{
    padding:30px 100px;
}
.bot{
    margin-bottom: 50px
}
.image{
    width: 100%;
    padding:10px 20px;
}
.ml-5{
    font-size: large;
}
.pad{
    padding-top: 50px;
}
.row{
    padding-left: 10%;

}
img{
    width: 50%;
    padding-bottom: 5%;
}

h1{
    font-size : 2rem;
    line-height :1.5;
}
p{
    line-height :2;
}
#title{
    background-color :#ff4c68;
}